<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wisepotato.wp_app">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Wise Potato"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".searchActivity"></activity>
        <activity android:name=".ContentWithUs" />
        <activity android:name=".myProfileAcitivity" />
        <activity android:name=".Age_input_activity" />
        <activity
            android:name=".addPostActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".IntroActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.wisepotato.in"
                    android:pathPrefix="/app"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUp" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".splashVideo"
            android:theme="@style/AppTheme" />
        <activity android:name=".Home"></activity>
        <activity android:name=".multiple_selection" />
        <activity
            android:name=".postRecommender"
            tools:ignore="Instantiatable" />
        <activity android:name=".Login" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path" />
        </provider>

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo_trans" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/Primary" />
    </application>

</manifest>